.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
	  height:100px;
  }
  
 page-header.h1{
	  color:#563199;
	  text-shadow:5px 5px 10px #e1d7f2;
  }
  h4{
	color:#563199;
	  text-shadow:5px 5px 10px #e1d7f2;
	 
  }
  panel-heading{
	background-color:#01FF70;
		
  }
  panel-body{
	  background-color:#7FDBFF;
	  height:140px;
  }